html, body { 
    height: 100%;
 }
#root { 
    min-height: 100% 
}
body {
    background-color: #1C1C1C;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 800px; */
}
#root {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#container {
    /* position: relative;
    top: 50px;
    left:400px;
    width:500px; */
    width: 500px;
    background-color: #1F2937;
    text-align: center;
    border-radius: 10px;
}
#fline {
    font-family: 'Karia';
    font-weight: 800;
    font-size: 40px;
    position: relative;
    top:20px;
}
#sline {
    font-family: 'Karia';
    font-weight: 800;
    font-size: 40px;
    color: #10B981;
    position: relative;
    bottom:15px;
}
#msg {
    color: aliceblue;
    font-family: 'Inter';
  font-style: normal;
 font-weight: 400;
 font-size: 20px;
  position: relative;
 bottom: 25px;
}
#generator {
    color: #1F2937;
    border: #10B981;
    border-radius: 2px;
    font-size: 20px;
    background-color: #10B981;
    width:200px;
    position: relative;
 bottom: 15px;
}
#option1,#option2,#option3,#option4 {
    background-color: #1C1C1C;
    color: #10B981;
    width:150px;
    height: 100 px;
    border-radius: 5px;
}
#option1,#option3 {
    position: relative;
    left: 50px;
}
#option2,#option4 {
    /* background-color: #1C1C1C; */
    position: relative;
    left:300px;
    bottom:33.5px;
}